@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.creator {
    margin: 25px auto;
    max-width: 800px;

}
 .creator img, .creator .content-1 {
    display: inline-block;
    width: 55%;
    margin: 0 20px 0 0;
 }
 h1, h2  {
    font-family: 'Dancing Script', cursive;
 }