@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    background-color: palevioletred;
}
h1,h2 ,h3, h4 {
    font-family: 'Dancing Script', cursive;

}
h1 {
    font-size: 150px;
}
h2, h3, h4 {
    display: block;
    border: dashed white;
    font-size: 40px;
}